@font-face {
  font-family: "Product Sans";
  src: url(PortfolioFonts/product-sans/Product\ Sans\ Regular.ttf);
  /* src: url(PortfolioFonts/product-sans/Product\ Sans\ Bold.ttf); */
  /* font-weight: normal; */
}
@font-face {
  font-family: "Product Sans Bold";
  src: url(PortfolioFonts/product-sans/Product\ Sans\ Bold.ttf);
}

@font-face {
  font-family: "Myride Pro";
  src: url(PortfolioFonts/myriad-pro-apple-like-products/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: "Dlirium1";
  src: url(PortfolioFonts/fty-delirium-ncv-font/DeliriumNcv-Vm5e.ttf);
}
@font-face {
  font-family: "Dlirium2";
  src: url(PortfolioFonts/fty-delirium-ncv-font/DeliriumNeonNcv-J1AK.ttf);
}

body {
  font-family: "Product Sans";
  background: #121212;
  user-select: none;
}

.navbar {
  margin-top: 1.5rem;
  background-color: #121212;
}
.navbar-nav a {
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  font-family: "Myride Pro";
  font-weight: 400;
}
.nav-link:hover{
  color: #64ffda;
}

.navbar-nav span {
  color: #64ffda;
}

.righticons {
  padding: 2px;
  display: inline-block;
  background: #64ffda;
  border-radius: 33px;
  float: right;
  margin-left: 1.5rem;
}

.righticons img {
  margin: 4px;
}
.name {
  position: relative;
}

.hello {
  position: absolute;
  margin-left: 5rem;
  /* letter-spacing: 0.01em; */
  font-family: "Dlirium1";
  font-size: 700px;
  line-height: 700px;
  color: black;
}

.hello span {
  font-family: "Dlirium2";
  -webkit-text-stroke: 3px #64ffda;
  color: transparent;
}
.hello span:hover {
  -webkit-text-stroke: 3px #ffffff;
}

.name {
  font-family: "Product Sans Bold";
  color: white;
  font-size: 150px;
  line-height: 150px;
  margin-left: 7.45rem;
  padding-top: 8rem;
  width: fit-content;
}

.name p {
  margin-bottom: 0;
}

.line {
  position: absolute;
  top: 330px;
}
.UI {
  font-family: "Product Sans";
  font-size: 25px;
  margin-left: 3rem;
  line-height: 30px;
  color: #64ffda;
}

.about {
  margin-top: 15rem;
  color: white;
  font-family: "Product Sans";
  position: relative;
}
.abouttitle {
  font-family: "Product Sans Bold";
  margin-left: 3rem;
  font-size: 120px;
  color: #64ffda;
}

.abouttitle span {
  color: black;
}
.circle {
  position: absolute;
  height: 37px;
  width: 37px;
  background-color: white;
  border-radius: 50%;
  top: 84px;
  left: 13.9rem;
}

.aboutdescription {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 37px;
  width: 50%;
  text-align: left;
  margin-left: 10rem;
}

.about ul {
  display: inline-flex;
  font-size: 22px;
  color: #64ffda;
  max-width: 40%;
  flex-wrap: wrap;
  margin-left: 12rem;
}

.about li {
  margin-right: 8rem;
  margin-top: 2rem;
}

.bootstrap {
  padding-right: 0.4rem;
}

.experience {
  color: white;
  font-family: "Product Sans Bold";
  font-size: 120px;
  margin-left: 28rem;
  margin-top: 5rem;
}

.maincontent {
  display: flex;
  margin-left: 5rem;
  color: white;
}

.companyname {
  /* margin: 50px 50px 50px 50px; */
  font-size: 20px;
  border-left: 5px #64ffda solid;
  /* border-top-left-radius: 10px; */
}

.companyname div {
  margin: 5px 0 5px 0;
  background-color: black;
  padding: 10px 150px 10px 10px;
  border-radius: 0px 40px 40px 0;
}

.GraphicDesigner {
  font-family: "Product Sans Bold";
  font-size: 25px;
  margin-top: 10px;

  line-height: 100%;
}

.National {
  color: #64ffda;
  font-family: "Product Sans";
  font-size: 20px;
  align-items: center;
  line-height: 100%;
  margin-left: 10px;
}

.ExperienceSection {
  margin-left: 50px;
}
.dateOfJoin {
  font-size: 20px;
  opacity: 0.6;
}

.ExperienceSection ul {
  font-size: 20px;
  width: 800px;
}
.projects {
  margin-top: 8rem;
  position: relative;
}
.projecttitle {
  font-size: 120px;
  color: #64ffda;
  font-family: "Product Sans Bold";
  margin-left: 3.5rem;
}
.circle2 {
  position: absolute;
  height: 37px;
  width: 37px;
  background-color: white;
  border-radius: 50%;
  top: 84px;
  left: 12.5rem;
}

.cards1 {
  display: flex;
}

.project1 {
  background-color: black;
  margin-left: 3rem;
  border-radius: 20px;
  padding: 2rem;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder {
  height: 50px;
}

.figma {
  height: 30px;
}
.projectname {
  display: flex;
  color: white;
  margin-top: 2rem;
}

.projectnametitle {
  font-family: "Product Sans Bold";
  font-size: 20px;
}

.projectnamediscription {
  font-size: 15px;
  width: 350px;
  font-weight: 300;
}
.project2 {
  background-color: black;
  margin-left: 1rem;
  border-radius: 20px;
  padding: 2rem;
}
.project22 {
  background-color: #272727;
  margin-left: 1rem;
  border-radius: 20px;
  padding: 2rem;
}

.projectnamediscription2 {
  font-size: 15px;
  width: 400pxpx;
  font-weight: 300;
}

.cards2 {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 0;
}

.project21 {
  background-color: #272727;
  margin-left: 3rem;
  border-radius: 20px;
  padding: 2rem;
}
.project23 {
  background-color: #272727;
  margin-left: 1rem;
  border-radius: 20px;
  padding: 2rem;
  margin-right: 6rem;
}
.techuse {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.45;
}
.viewmore {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.viewmore button {
  background-color: #64ffda;
  font-family: "Product Sans Bold";
  font-size: 20px;
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 30px;
}

.getintouch {
  position: relative;
  color: white;
  margin-top: 8rem;
  /* margin-left: 3.5rem; */
}

.getintouchtitle {
  font-size: 120px;
  font-family: "Product Sans Bold";
  margin-left: 3rem;
}
.getintouchtitle span {
  color: #64ffda;
}

.circle3 {
  position: absolute;
  height: 37px;
  width: 37px;
  background-color: white;
  border-radius: 50%;
  top: 5.3rem;
  left: 31rem;
}
.getintouchdiscription {
  font-size: 25px;
  margin-left: 4rem;
}
.sayhello {
  margin-left: 4rem;
}

.sayhello button {
  background-color: #64ffda;
  font-family: "Product Sans Bold";
  font-size: 20px;
  border: none;
  margin-top: 2rem;
  padding: 0.8rem 3rem;
  border-radius: 30px;
}

.contact {
  color: white;
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 7rem;
}
.contacttext {
  margin-left: 3.7rem;
}

.contacttitle {
  font-size: 120px;
  font-family: "Product Sans Bold";
  color: #64ffda;
  line-height: 100%;
}
.mail {
  font-size: 25px;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #64ffda;
}

.mail span {
  color: white;
}
.mobileno {
  font-size: 25px;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #64ffda;
}

.mobileno span {
  color: white;
}

.socialmediaicons {
  display: inline-block;
  /* margin-left: 1rem; */
  margin-top: 1.5rem;
}
.socialmediaicons a {
  padding-left: 1rem;
}

.circle4 {
  position: absolute;
  height: 37px;
  width: 37px;
  background-color: white;
  border-radius: 50%;
  top: 10.4rem;
  left: 10.8rem;
}
/* .small {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 100;
  opacity: .1;
} */
.mailboximage{
  margin-right: 10rem;
}

.contactback{
  background-color: black;
  
}
/*
fonts
font-family: "Product Sans";
font-family: "Product Sans Bold";
font-family: "Myride Pro";
font-family: "Dlirium1";
font-family: "Dlirium2"; 
*/
