body{
    background-color: #00E384;
    margin: auto;
    
}

.photo-container{
    position: absolute;
    width: 801px;
    height: 796px;
    left: 559px;
    top: 121px;
    
    background: #FFFFFF;
    box-shadow: 2px 1px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.photo-main{
    position: absolute;
    width: 413.67px;
    height: 560.45px;
    right: 507px;
    bottom: 172px;
    background: radial-gradient(46.79% 46.79% at 33.87% 53.21%, #EEFFCE 0%, #A9E239 100%);
    border-radius: 7px;
    
}
.main-pic{
    position: absolute;
}
.tata{
    position: absolute;
width: 500px;
height: 500px;
left: -100px;
top: 20px;

}

.photo-album{
    position: absolute;
width: 413.67px;
height: 144px;
right: 507px;
top: 600px;

background: #FFFFFF;
box-shadow: -6px 4px 16px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 6px 6px;
float: right;
}

.view4{
    float: right;
    margin-top: 30px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 7px;
}
.view3{
    float: right;
    margin-top: 30px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 7px;
}.view2{
    float: right;
    margin-top: 30px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 7px;
}.view1{
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    padding: 5px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 7px;
}

i{
    color: white;
}

.fa-share-alt{
    margin-right: 81%;
    margin-left: 20px;
    margin-top: 20px;
    
}
.product__info{
position: relative;
width: 408px;
height: 87px;
left: 890px;
top: 130px;

background: #FFFFFF;
} 
h1{
    width: 500px;
    height: 37px;
    margin-top: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 1000;
    color: rgb(77, 77, 77);
    letter-spacing: -0.03em; 
}
.code{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
}

.price{
    font-size: 40;
    color: FF3F40;
}
.rs{
    
    font-size: 90;
    
}

h3{
    font-size: 20;
    font-weight: 750;
    margin-top: 40px;
    opacity: .5;
}
ul{

    margin-top: 10px;
}

.btn-secondary{
    font-size: 15px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: FF3F40;
    
    
}  
.ben{
    margin-left: 50px;
}

.firstapple{
    border: 2px solid rgb(168, 168, 168);
    padding: 5px;
    border-radius: 10px;
}

/* identical to box height */
/* 
letter-spacing: -0.02em;

color: #505050;
} */ */

/* .title{
    font-size: 500px;
    
} */
/* 
h1{
    position: absolute;
width: 193px;
height: 37px;
left: 704px;
top: 155px;
margin-right: 500px;
} */

