*{
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: #00E384;
}

.product{
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    min-width: 600px;
    border-radius: 5px;
    background-color: white;
    padding: 2.5em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product__photo{
    position: relative;
    
}
.photo-container{
    position: absolute;
    left: -3em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    box-shadow:  2px 1px 16px rgba(0, 0, 0, 0.25);
}
.photo-main{
    border-radius: 5px 5px 0 0;
    background-color: greenyellow;
    background: radial-gradient(46.79% 46.79% at 33.87% 53.21%, #EEFFCE 0%, #A9E239 100%);

}

.photo-main .controls{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
}
.photo-main .controls i{
    cursor: pointer;
}

.photo-main img{
    position: absolute;
    left: -4em;
    top: 2em ;
    max-width: 100%;
    filter: saturate(150%);
}

.photo-album{
    border-radius:  0 0 6px 6px;
    padding: 1em 1em;
    background-color: white;
}

.photo-album ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.photo-album li{
    float: left;
    width: 50px;
    height: 50px;
    list-style: none;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 8px;

}
img{
    max-width: 100%;
}

.title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    font-size: 1.5em ;
}

.title span{
    font-size: 0.7em;
    color: gray;
    opacity: 0.7;
}

.price{
    margin: 1.5em 0;
    font-size: 1.5em;
    color: #FF3F40;
}

.price span{
    padding-left: 0.2em;
    font-size: 3em;
}

.variant li{
    float: left;
    width: 50px;
    height: 50px;
    list-style: none;
    padding: 5px;
    cursor: pointer;
    padding: 3px;
}

.variant li:hover{
    border: 1px solid gray;
    border-radius: 3px;
}
.description{
    clear: left;
    margin: 2em 0;
}
.description ul{
    font-size: 0.8em;
}

.buy--btn{
    padding: 1.5em 3em;
    border: none;
    border-radius: 7.5px;
    letter-spacing: 1.5px;
    color: white;
    background-color: #FF3F40;
    box-shadow: 2px 2px 25px -5px gray;
    cursor: pointer;
}

.buy--btn:active{
    transform:scale(0.8) ;
}




